<div class="background-form">

  <div class="form-container">

    <div class="form-title" id="title-de-retour">
      <h3>VOTRE PROFIL DE COUPLE</h3>
    </div>

    <%= simple_form_for @couple do |f| %>
    ​
      <div class="form-group form-inputs form-text">
        <%= f.input :couple_nickname, label: 'CHOISISSEZ VOTRE PSEUDO DE COUPLE',required: true, placeholder: 'Les fraises de l\'amour', autofocus: true,  input_html: {:class => "form-inputs-background"} %>

        <%= f.input :about_couple, label: 'PARLEZ-NOUS DE VOUS DEUX !', required: true, placeholder: 'Rencontrés il y a 5 ans autour d\'un dessert',input_html: {:class => "form-inputs-background"} %>

        <%= f.input :couple_city, label: 'OÙ VIVEZ-VOUS ?', required: true, placeholder: 'Verone',input_html: {:class => "form-inputs-background"} %>

        <%= f.input :photos, as: :file, label: 'AJOUTEZ QUELQUES PHOTOS DE VOUS DEUX', required: true, input_html: { multiple: true } %>

        <button class="next_step btn-marged form-submit-btn">SUIVANT</button>
      </div>

      <div class="form-group form-inputs form-text" style="display: none">
        <h3>FRAISE N°1, DITES-NOUS EN PLUS :)</h2>
        <br>
        <%= f.input :member1_name, label: 'VOTRE PRÉNOM', required: true, placeholder: 'Lucie / Lucien', autofocus: true,  input_html: {:class => "form-inputs-background"}  %>
        <%= f.input :about_member1, label: 'A PROPOS DE VOUS', required: true, placeholder: 'Adore ramener sa fraise',  input_html: {:class => "form-inputs-background"} %>
        <%= f.input :age_member_1, label: 'VOTRE AGE', required: true, placeholder: '32', input_html: {:class => "form-inputs-background"} %>
        <%= f.input :gender_member_1, label: 'VOTRE SEXE', collection: ["Homme", "Femme"], required: true, placeholder: 'Homme / Femme', input_html: {:class => "form-inputs-background"} %>
        <button class="previous_step btn-marged form-submit-btn">RETOUR</button>
        <button class="next_step btn-marged form-submit-btn">SUIVANT</button>
      </div>


      <div class="form-group form-inputs form-text" style="display: none">
        <h3>FRAISE N°2, A VOTRE TOUR !</h2>
        <br>
        <%= f.input :member2_name, label: 'VOTRE PRÉNOM', required: true, placeholder: 'Lucie / Lucien', autofocus: true,  input_html: {:class => "form-inputs-background"} %>
        <%= f.input :about_member2, label: 'A PROPOS DE VOUS', required: true, placeholder: 'Adore ramener sa fraise',  input_html: {:class => "form-inputs-background"} %>
        <%= f.input :age_member_2, label: 'VOTRE AGE', required: true, placeholder: '32', input_html: {:class => "form-inputs-background"} %>
        <%= f.input :gender_member_2, label: 'VOTRE SEXE', collection: ["Homme", "Femme"], required: true, placeholder: 'Homme / Femme', input_html: {:class => "form-inputs-background"} %>
        <button class="previous_step btn-marged form-submit-btn">RETOUR</button>
        <%= submit_tag("DÉCOUVREZ VOTRE PROFIL", class: "btn-marged form-submit-btn") %>
      </div>

    <% end -%>

  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(".next_step").on("click", function(event){
        event.preventDefault();
        var button = jQuery(this);
        button.parent().slideUp( "slow", function() {
          done:  button.parent('div').hide();
        });
        button.parent('div').next().show(300);
      });
     $(".previous_step").on("click", function(event){
        event.preventDefault();
        var button = jQuery(this);
        //button.parent('div').addClass('hide');
        button.parent('div').slideDown(800).fadeOut(300);
        button.parent('div').prev().show(300) ;
      });
  </script>
<% end -%>

