<div class="background-form">

    <div class="loader hide">
      <div class="load" id="img1" class="img"></div>
      <div class="load" id="img2" class="img"></div>
      <div  class="load" id="img3" class="img"></div>
      <div class="load" id="img4" class="img"></div>
      <div  class="load" id="img5" class="img"></div>
    </div>

<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-4">
      <div class="image-gif" style=""></div>
      <div class="image-gif-2 hide" style=""></div>
      <div class="image-gif-3 hide" style=""></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <%= simple_form_for @couple do |f| %>
      ​
        <div class="form-group form-inputs form-text basic_info">
          <h3 class="form-title-h3">RACONTEZ-NOUS VOTRE COUPLE</h3>
          <br>
          <%= f.input :couple_nickname, label: 'CHOISISSEZ VOTRE PSEUDO DE COUPLE',required: true, placeholder: 'Les fraises de l\'amour', autofocus: true,  input_html: {:class => "form-inputs-background js-empty-validation-1"} %>
          <%= f.input :about_couple, :as => :text, label: 'PARLEZ-NOUS DE VOUS DEUX !', required: true, placeholder: 'Nous deux, c\'est du gâteau ! Rencontrés il y a 2 ans en suivant la formation du Wagon à Paris, on ne se quitte plus depuis. Nous venons d\'emménager ensemble à Nantes avec l\'envie de partager notre passion de la tarte aux fraises avec des couples autour de nous !',input_html: {:class => "form-inputs-background js-empty-validation-1"} %>
          <%= f.input :couple_city, label: 'OÙ VIVEZ-VOUS ?', required: true, placeholder: 'Verone',input_html: {:class => "form-inputs-background js-empty-validation-1"} %>
          <%= f.input :photos, as: :file, label: 'AJOUTEZ QUELQUES PHOTOS DE VOUS DEUX', required: true, input_html: { class: "js-empty-validation-1", multiple: true } %>

          <button class="next_step btn-marged form-submit-btn btn-basic-info-1">SUIVANT</button>
        </div>

        <div class="form-group form-inputs form-text" style="display: none">
          <h3 class="form-title-h3">FRAISE N°1, <br>PRÊT À VOUS DÉVOILER ?</h3>
          <br>
          <%= f.input :member1_name, label: 'VOTRE PRÉNOM', required: true, placeholder: 'Lucie / Lucien', autofocus: true,  input_html: {:class => "form-inputs-background js-empty-validation-2"}  %>
          <%= f.input :about_member1, :as => :text, label: 'A PROPOS DE VOUS', required: true, placeholder: 'Adore ramener sa fraise. Graphiste et développeur au quotidien. Je suis un ancien étudiant du Wagon (batch #12 à Paris). Quand je ne travaille pas, j\'aime courir et marcher en montagne.',  input_html: {:class => "form-inputs-background js-empty-validation-2"} %>
          <%= f.input :age_member_1, label: 'VOTRE AGE', required: true, placeholder: '32', input_html: {:class => "form-inputs-background js-empty-validation-2"} %>
          <%= f.input :gender_member_1, label: 'VOTRE SEXE', collection: ["Homme", "Femme"], required: true, placeholder: 'Homme / Femme', input_html: {:class => "form-inputs-background js-empty-validation-2"} %>
          <button class="previous_step_2 btn-marged form-submit-btn">RETOUR</button>
          <button class="next_step btn-marged form-submit-btn btn-basic-info-2">SUIVANT</button>
        </div>

        <div class="form-group form-inputs form-text" style="display: none">
          <h3 class="form-title-h3">FRAISE N°2, <br>UN DERNIER COUP POUR LA ROUTE !</h3>
          <br>
          <%= f.input :member2_name, label: 'VOTRE PRÉNOM', required: true, placeholder: 'Lucie / Lucien', autofocus: true,  input_html: {:class => "form-inputs-background js-empty-validation-3"} %>
          <%= f.input :about_member2, :as => :text, label: 'A PROPOS DE VOUS', required: true, placeholder: 'Je suis la cerise sur le gâteau. Monteuse dans le cinéma et freelance, je suis aussi une ancienne étudiante du Wagon (batch #12 à Paris). Quand je ne travaille pas, je cuisine et je lis (beaucoup) !',  input_html: {:class => "form-inputs-background js-empty-validation-3"} %>
          <%= f.input :age_member_2, label: 'VOTRE AGE', required: true, placeholder: '32', input_html: {:class => "form-inputs-background js-empty-validation-3"} %>
          <%= f.input :gender_member_2, label: 'VOTRE SEXE', collection: ["Homme", "Femme"], required: true, placeholder: 'Homme / Femme', input_html: {:class => "form-inputs-background js-empty-validation-3"} %>
          <button class="previous_step_3 btn-marged form-submit-btn">RETOUR</button>
          <%= submit_tag("DÉCOUVREZ VOTRE PROFIL", class: "btn-marged form-submit-btn btn-basic-info-3") %>
        </div>
    </div>
  </div>
</div>


    <% end -%>

</div>

<% content_for(:after_js) do %>
  <script>
   function isValid(elements){
      var validation = 0
      elements.each(function() {
        console.log($( this ).val().length);
        if ($( this ).val().length > 0){
        }
        else {
          validation ++
        }
      });
      if (validation == 0) {
        return true
      }
      else {
        return false
      }
    }

    $(".btn-basic-info-1").on("click", function(event){
      event.preventDefault();
      if (isValid($("input.js-empty-validation-1"))){
        var button = jQuery(this);
        button.parent().slideUp( "slow", function() {
          done:  button.parent('div').hide();
        });
        button.parent('div').next().show(300);
        $(".image-gif").hide()
        $(".image-gif-2").removeClass("hide");
        }
      else {
        swal({
          title: "Nom d'une cerise !",
          text: "Vous n'auriez pas oublié de remplir une des cases ?",
          imageUrl: "<%= asset_path("cerise_2.png")%>",
          imageSize: "120x120",
          confirmButtonColor: "#F80C54",
          confirmButtonText: "Peut-être :)", });
      }
    });

    $(".btn-basic-info-2").on("click", function(event){
      event.preventDefault();
      if (isValid($("input.js-empty-validation-2"))){
        var button = jQuery(this);
        button.parent().slideUp( "slow", function() {
          done:  button.parent('div').hide();
        });
        button.parent('div').next().show(300);
        $(".image-gif-2").hide()
        $(".image-gif-3").removeClass("hide");
      }
      else {
        swal({
          title: "Cerise à bord !",
          text: "On vous y reprend, allez on remplit tout :)",
          imageUrl: "<%= asset_path("cerise_2.png")%>",
          imageSize: "120x120",
          confirmButtonColor: "#F80C54",
          confirmButtonText: "Reçu !", });
      }
    });

    $(".previous_step_2").on("click", function(event){
      event.preventDefault();
      var button = jQuery(this);
      //button.parent('div').addClass('hide');
      button.parent('div').slideDown(800).fadeOut(300);
      button.parent('div').prev().show(300);
      $(".image-gif").show();
      $(".image-gif-2").addClass("hide");
    });

    $(".btn-basic-info-3").on("click", function(event){
      if (isValid($("input.js-empty-validation-3"))){
        var button = jQuery(this);
        button.parent().slideUp( "slow", function() {
          done:  button.parent('div').hide();
        });
        $(".image-gif-3").hide()
        $(".loader").removeClass("hide");
      }
      else {
        swal({
          title: "Bordel de cerise !",
          text: "On y est presque, un dernier effort :) ",
          imageUrl: "<%= asset_path("cerise_2.png")%>",
          imageSize: "120x120",
          confirmButtonColor: "#F80C54",
          confirmButtonText: "Yeah !", });
      }
    });

    $('.btn-basic-info-3').on('click', function(event) {
      swal({
         title: "Felicitations !",
          text: "Vous venez de gagner vos 3 premières fraises. Soyez curieux, participez, organisez et laissez vous tenter par les challenges pour en gagner plus ! ",
          imageUrl: "<%= asset_path("plus3fraises.png")%>",
          imageSize: "200x120",
          confirmButtonColor: "#F80C54",
          });
      })


    $(".previous_step_3").on("click", function(event){
      event.preventDefault();
      var button = jQuery(this);
      //button.parent('div').addClass('hide');
      button.parent('div').slideDown(800).fadeOut(300);
      button.parent('div').prev().show(300);
      $(".image-gif-2").show();
      $(".image-gif-3").addClass("hide");
    });


     // $(".basic_info").on("click", function(){
     //    if ($("#couple_couple_nickname").val() == "" || $("#couple_about_couple").val() == "" || $("#couple_photos").val() == ""|| $("#couple_couple_city").val() == ""){
     //      $()
     //    }

     // })
  </script>
<% end -%>



