<div class="container-fluid text-align">
  <div class ="row">
    <h2>Votre profil de couple</h2>
  </div>

  <div class ="row">
    <ul class="list-unstyled">
      <br>
      <li><%= @couple.couple_nickname %></li>
      <li><%= @couple.about_couple %></li>
      <li><%= @couple.couple_city %></li>
      <li><%= @couple.email %></li>
      <br>
      <li><%= "#{@couple.member1_name}, #{@couple.age_member_1}, #{@couple.gender_member_1}" %></li>
      <li><%= @couple.about_member1 %></li>
      <br>
      <li><%= "#{@couple.member2_name}, #{@couple.age_member_2}, #{@couple.gender_member_2}" %></li>
      <li><%= @couple.about_member2 %></li>
    </ul>
  </div>

  <div class ="row">
    <%= link_to "Voir les événements autour de moi", events_path, method: :get, class: "btn btn-primary" %>
  </div>
</div>
