<div class="background-form">

  <div class="form-container">

    <div class="form-title" id="title-sign-up">
      <h3>BIENVENUE SUR TARTE AUX FRAISES</h3>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs form-text">
        <%= f.input :email, label: "VOTRE ADRESSE MAIL", required: true, placeholder: 'tarte@auxfraises.com', autofocus: true,  input_html: {:class => "form-inputs-background"} %>
        <%= f.input :password, label: "VOTRE MOT DE PASSE", required: true, placeholder: 'six caractères minimum',input_html: {:class => "form-inputs-background"} %>
        <%= f.input :password_confirmation, label: "REDONNEZ-NOUS VOTRE MOT DE PASSE", required: true, placeholder: 'six caractères minimum',input_html: {:class => "form-inputs-background"} %>
        <%= f.input :remember_me, label: "SE SOUVENIR DE VOUS", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions form-btn-margin">
        <%= f.button :submit, "ENREGISTREZ-VOUS", :class => "form-submit-btn" %>
      </div>
    <% end %>

    <div class="form-footer text-center">
      <%= render "devise/shared/links" %>
    </div>

  </div>

</div>
