<div class="navbar-wagon navbar-wagon-fixed navbar-<%= controller.controller_name %> navbar-<%= controller.controller_name %>-<%= action_name %>">
  <!-- Logo -->
  <% if action_name == "home" || controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "passwords" || controller.controller_name == "events" && action_name == "edit" || controller.controller_name == "events" && action_name == "new" %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "fraise_rose_navbar.png" %>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "fraise-fond-rose.png" %>
    <% end %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if couple_signed_in? %>

    <!-- Create an event -->
    <%= link_to t(".sign_in", default: "Organiser un événement"), new_organiser_event_path, class: "navbar-item navbar-wagon-link" %>

    <!-- Swipe events -->
    <%= link_to t(".sign_in", default: "Trouver un événement"), events_path, class: "navbar-item navbar-wagon-link" %>

    <%= link_to t(".sign_in", default: "Mes événements"), couple_my_events_path(current_couple), class: "navbar-item navbar-wagon-link" %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-item">
        <div class="dropdown">
          <%= cl_image_tag current_couple.profile_pict, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to couple_profile_path(current_couple) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Notre profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Page d'accueil") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_couple_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Fermer la session") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>


    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_couple_session_path, class: "navbar-item navbar-wagon-link" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if couple_signed_in? %>
          <li>
            <%= link_to couple_profile_path(current_couple) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Notre profil") %>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Page d'accueil") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_couple_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Fermer la session") %>
            <% end %>
          </li>
         <% else %>
           <!-- Login text link -->
           <%= link_to t(".sign_in", default: "Se connecter"), new_couple_session_path, class: "navbar-item navbar-wagon-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
