
<div class="container-fluid swipe-container">
  <div class="row row-interline">
    <div class="col-xs-6 top-row-swipe-block swipe-no"></div>
    <div class="col-xs-6 top-row-swipe-block swipe-yes"></div>
  </div>

  <div class="row main-swipe-row">
    <div class="col-xs-2 col-sm-3 col-md-4 swipe-block swipe-no">
      <div class="hidden-xs">
        <h2>BOF PAS <br> A MON <br> GOUT...</h2>
        <%= image_tag 'patate_grise.png', size: "105x70" %>
      </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4 event-background" id="event-deck" >
      <%= render 'swipes/event_deck', events_for_display: @events_for_display %>
    </div>
    <div class="col-xs-2 col-sm-3 col-md-4 swipe-block swipe-yes">
      <div class="hidden-xs">
        <h2>HUM CA <br> SENT LA <br> FRAISE !</h2>
        <%= image_tag 'fraise_large.png', size: "70x105" %>
      </div>
    </div>
  </div>

</div>






  <%= content_for(:after_js) do %>
      <script>

      $('#current-active-card').flip();


        function moveLeft() {
          var elem = document.getElementById("current-active-card");
          var pos = 0;
          var id = setInterval(frame, 1);
          function frame() {
              if (pos == 400) {
                clearInterval(id);
              } else {
                pos++;
                elem.style.right = 6*pos + 'px';
              }
            }
          }

        function moveRight() {
          var elem = document.getElementById("current-active-card");
          var pos = 0;
          var id = setInterval(frame, 1);
          function frame() {
              if (pos == 400) {
                clearInterval(id);
              } else {
                pos++;
                elem.style.left = 6*pos + 'px';
              }
            }
          }


        function coupleSwipeLeft(){
            $('.active-card').hide();

            var event_id = $('.active-card').attr("data-id");

             $.ajax({
                url:  "/couples/"+ '<%= current_couple.id %>' +"/events/"+ event_id +"/swipeleft",
                type: 'POST',
                dataType: "json",
              });
            location.reload();
        }

        function coupleSwipeRight() {
          $('.active-card').hide();

          var event_id = $('.active-card').attr("data-id");

          $.post( "/couples/"+ '<%= current_couple.id %>' +"/events/"+ event_id +"/swiperight", function( data ) {
              if (data["current_swipe"]["participation"] == true) {
                swal({title: "Chic ! Ca matche !", text: "Vous vous plaisez mutuellement! l'évènement a donc été ajouté à votre liste d'évènements à venir. Consultez la page de l'évènement pour commencer à discuter avec les organisateurs et voir les autres participants ", type: "success", closeOnConfirm: false}, function(isConfirm){
                      if (isConfirm) { location.reload(); }
                    });
              }
              else {
                location.reload();
              }
            });

        }

        $(document).ready(function(){
          $('.couple-swipe-left-btn').on('click', function() {
            moveLeft();
            setTimeout(function(){
              coupleSwipeLeft();
            }, 300);
          });
          $('.couple-swipe-right-btn').on('click', function() {
            moveRight();
            setTimeout(function(){
              coupleSwipeRight();
            }, 300);
          });

          $(document).on('keyup', function(event) {
            if (event.keyCode == 37) {
              moveLeft();
              setTimeout(function(){
                coupleSwipeLeft();
              }, 300);
            } else if (event.keyCode == 39) {
              moveRight();
              setTimeout(function(){
              coupleSwipeRight();
            }, 300);
            }
          });


          $('.active-card').draggable({ axis: "x",
          zIndex: 2500 });
          $('.swipe-no').droppable({
            drop: function(event, ui) {
              coupleSwipeLeft();
            }
          });
          $('.swipe-yes').droppable({
            drop: function(event, ui) {
              coupleSwipeRight();
            }
          });
        });
      </script>
    <% end %>





