
<div class="container">
  <div class="row">
    <div class="col-xs-2" id='swipe-no'></div>
    <div class="col-xs-8 event-background " id="event-background" >
      <% @events_for_display.each do |event| %>
        <div class="event-card front <%= @events_for_display.first == event ? "active-card" : "hidden" %>" data-id="<%=event.id%>" >
          <div class="event-date"> <em><%= event.date %></em></div>
          <div class="event-description"> <%=event.description.first(30) %> </div>
          <div class="organiser-picture avatar-large"> <%= image_tag event.couple.couple_picture, size:"170" %> </div>
          <%=link_to couple_event_swipeleft_path(current_couple, event) do %>
            <div class="swipe-btn swipe-left-btn"></div>
          <% end %>
          <%=link_to couple_event_swiperight_path(current_couple, event) do %>
            <div class="swipe-btn swipe-right-btn"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="col-xs-2" id='swipe-yes'></div>
  </div>
</div>





  <%= content_for(:after_js) do %>
      <script>
        $(document).ready(function(){
          $('.event-card').draggable();
          $('#swipe-no').droppable({
            drop: function(event, ui) {
              $('.active-card').hide();
              var event_id = $('.active-card').attr("data-id");
              $.get( "/couples/"+ '<%= current_couple.id %>' +"/events/"+ event_id +"/swipeleft", function( data ) {
                alert( "Load was performed." );
              });
              location.reload();
            }
          });
          $('#swipe-yes').droppable({
            drop: function(event, ui) {
              $('.active-card').hide();
              var event_id = $('.active-card').attr("data-id");
              $.get( "/couples/"+ '<%= current_couple.id %>' +"/events/"+ event_id +"/swiperight", function( data ) {
                alert( "Load was performed." );
              });
              location.reload();
            }
          });
        });
      </script>
    <% end %>





