
  <div class="container">

    <h1 class="text-center title-spacing form-title-my-events">MES EVENEMENTS</h1>


    <div class="line-separation">

    </div>

    <% count = 0 %>
    <% swipes_related_event = current_couple.event_swipes.where(notification_event: true) %>
    <% swipes_related_event.each do |st| %>
      <% count += 1 %>
    <% end %>

    <% count_participate = 0 %>
    <% swipes_true = Swipe.where(couple_id: current_couple, notification_couple: true) %>
    <% swipes_true.each do |st| %>
      <% count_participate += 1 %>
    <% end %>




    <ul id=myTabs class="nav nav-tabs tabs">
      <% if count >= 1 %>
        <li role="presentation" class="tab active form-title-h2-events"><h2><%= link_to "J'ORGANISE (#{count})", "#organize", aria: { controls: 'organize'}, role: "tab", data: {toggle: "tab"} %></h2></li>
      <% else %>
        <li role="presentation" class="tab active title-spacing"><h2><%= link_to "J'ORGANISE", "#organize", aria: { controls: 'organize'}, role: "tab", data: {toggle: "tab"} %></h2></li>
      <% end %>

      <% if count_participate >= 1 %>
        <li role="presentation" class="tab form-title-h2-events"><h2><%= link_to "JE PARTICIPE (#{count_participate})", "#participate",  aria: { controls: 'participate'}, role: "tab", data: {toggle: "tab"}  %></h2></li>
      <% else %>
        <li role="presentation" class="tab title-spacing"><h2><%= link_to "JE PARTICIPE", "#participate",  aria: { controls: 'participate'}, role: "tab", data: {toggle: "tab"}  %></h2></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="organize">
        <% count = 0 %>
        <% swipes_related_event = current_couple.event_swipes.where(notification_event: true) %>
        <% swipes_related_event.each do |st| %>
          <% count += 1 %>
        <% end %>

        <div class="row">
          <div class="line-separation">
            <h3> A venir</h3>
          </div>
          <% @my_events.each do |event| %>
          <% next if event.date < Time.now %>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-events">
                <div class="text-center">
                  <% if Swipe.find_by(event_id: event.id) %>
                    <% if current_couple == event.couple &&  Swipe.find_by(event_id: event.id, notification_event: true ) %>
                      <p class="card-notification"><span class="label label-new">NEW</span></p>
                    <% end %>
                  <% end %>



                  <%= cl_image_tag event.couple.profile_pict, height: 100, width: 100, crop: :fill, class:"img-circle" %>
                  <h5><%= l(event.date, format: :short) %></h5>
                  <h4><strong>Organisateurs de l'événement</strong></h4>
                    <% if event.couple_id = current_couple.id %>
                  <p>Vous<p>
                    <% else %>
                  <p><%= Couple.find_by(id: event.couple_id).couple_nickname %><p>
                    <% end %>
                  <h4><strong>Thème de l'événement</strong></h4>
                  <p><%= Theme.find_by(id: event.theme_id).name %></p>

                  <%= link_to "Communiquer", event_notification_false_path(event), class: "btn btn-default btn-nice", method: :patch %>
                </div>
              </div>
            </div>
          <% end %>
        </div>


        <div class="row">
          <div class="line-separation">
            <h3> Passés</h3>
          </div>
          <% @my_events.each do |event| %>
          <% next if event.date > Time.now %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-events">
                <div class="text-center">
                <% if Swipe.find_by(event_id: event.id) %>
                  <% if current_couple == event.couple &&  Swipe.find_by(event_id: event.id, notification_event: true) %>
                    <p class="card-notification"><span class="label label-new">NEW</span></p>
                  <% end %>
                <% end %>

                  <%= cl_image_tag event.couple.profile_pict, height: 100, width: 100, crop: :fill, class:"img-circle" %>
                  <h5><%= l(event.date, format: :short) %></h5>
                  <h4><strong>Organisateurs de l'événement</strong></h4>
                    <% if event.couple_id = current_couple.id %>
                  <p>Vous<p>
                    <% else %>
                  <p><%= Couple.find_by(id: event.couple_id).couple_nickname %><p>
                    <% end %>
                  <h4><strong>Thème de l'événement</strong></h4>
                  <p><%= Theme.find_by(id: event.theme_id).name %></p>
                  <%= link_to "Communiquer", event_notification_false_path(event), class: "form-submit-btn", method: :patch %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="participate">


        <div class="row">

          <div class="line-separation">
            <h3 class="form-title-h3-events"> EVENEMENTS A VENIR</h3>
          </div>
          <% @participating_events.each do |event| %>
          <% next if event.date < Time.now %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-events">
                <div class="text-center">
                <% if Swipe.find_by(event_id: event.id) %>
                  <% if Swipe.find_by(event_id: event.id, notification_couple: true) %>
                    <p class="card-notification"><span class="label label-new">NEW</span></p>
                  <% end %>
                <% end %>

                  <%= cl_image_tag event.couple.profile_pict, height: 100, width: 100, crop: :fill, class:"img-circle" %>
                  <h5><%= l(event.date, format: :short) %></h5>
                  <h4><strong>Organisateurs de l'événement</strong></h4>
                    <% if event.couple_id = current_couple.id %>
                  <p>Vous<p>
                    <% else %>
                  <p><%= Couple.find_by(id: event.couple_id).couple_nickname %><p>
                    <% end %>              <h4><strong>Thème de l'événement</strong></h4>
                  <p><%= Theme.find_by(id: event.theme_id).name %></p>


                  <%= link_to "Communiquer", event_notification_false_path(event), class: "btn btn-default btn-nice", method: :patch %>
                </div>
              </div>
            </div>
          <% end %>

        </div>


        <div class="row">
          <div class="line-separation">
            <h3 class="form-title-h3-events"> EVENEMENTS PASSES</h3>
          </div>
          <% @participating_events.each do |event| %>
          <% next if event.date > Time.now %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-events">
                <div class="text-center">
                <% if Swipe.find_by(event_id: event.id) %>
                  <% if Swipe.find_by(event_id: event.id, notification_couple: true) %>
                    <p class="card-notification"><span class="label label-new">NEW</span></p>
                  <% end %>
                <% end %>

                  <%= cl_image_tag event.couple.profile_pict, height: 100, width: 100, crop: :fill, class:"img-circle" %>
                  <h5><%= l(event.date, format: :short) %></h5>
                  <h4><strong>Organisateurs de l'événement</strong></h4>
                    <% if event.couple_id = current_couple.id %>
                  <p>Vous<p>
                    <% else %>
                  <p><%= Couple.find_by(id: event.couple_id).couple_nickname %><p>
                    <% end %>              <h4><strong>Thème de l'événement</strong></h4>
                  <p><%= Theme.find_by(id: event.theme_id).name %></p>


                  <%= link_to "Communiquer", event_notification_false_path(event), class: "btn btn-default btn-nice", method: :patch %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>

  </div>

