<div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :date, label: "A quelle date souhaitez-vous creer votre evenement ?" %>
        <%= f.input :max_n_guest_couples, label: "Quel est le nombre de couples participants maximum?" %>
        <%= f.input :description, label: "Merci de detailler votre evenement" %>
        <%= f.input :city, label: "Ou se tiendra votre evenement ?" %>
        <%= f.button :submit %>
      <% end %>
   </div>
  </div>
</div>
