<% couples_for_display.each do |couple| %>
  <div class="couple-card <%= couples_for_display.first == couple ? "active-card" : "hidden" %>" data-id="<%=couple.id%>" id="current-active-card">
    <div class="front couple-card-front">
      <div class="couple-description">
        <h2> <%= couple.member1_name.upcase %> & <%= couple.member2_name.upcase %></h2>
      </div>
      <div class="couple-picture">
        <%= cl_image_tag couple.profile_pict, width: 200, height: 150, crop: :fill %>
      </div>
      <div class="couple-front-description">
        <%= couple.about_couple %>
      </div>

      <div class="couple-button-container">
        <%=link_to event_couple_swipeleft_path(@event, couple), method: :post, remote: true do %>
          <div class="swipe-btn organiser-swipe-left-btn"> <%= image_tag 'patate_blanche.png',  size: "40" %> </div>
        <% end %>
        <%= link_to event_couple_swiperight_path(@event, couple), method: :post, remote: true do %>
          <div class="swipe-btn organiser-swipe-right-btn"> <%= image_tag 'fraise-blanc-square.png', size: "50" %></div>
        <% end %>
      </div>
    </div>
    <div class="back event-card-back">
      <div class="back-couple-nickname">
      <%= couple.couple_nickname.upcase %>
      </div>
      <div class="back-couple-member-description">
        <%= couple.member1_name %>, <%= couple.age_member_1%> ans:  <br>
        <em>  "<%= couple.about_member1 %>" </em>
      </div>
      <div class="back-couple-member-description">
        <%= couple.member2_name %>, <%= couple.age_member_2%> ans:  <br>
        <em>  "<%= couple.about_member2 %>" </em>
      </div>
      <div class="link-to-organiser">
        <%= link_to couple_profile_path(couple), method: :get do%>
          Voir leur profil détaillé
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="couple-card end-card <%= couples_for_display.length == 0 ? "active-card" : "hidden" %>" id="current-active-card">
  Plus de couples <br> dans votre zone, ramenez <br> votre fraise plus tard ...
  <%= image_tag 'fraise-blanc-square.png', size: "100" %>
</div>

