<% events_for_display.each do |event| %>
  <div class="event-card <%= events_for_display.first == event ? "active-card" : "hidden" %>" data-id="<%=event.id%>" id="current-active-card">
    <div class="front event-card-front">
      <div class="event-date"> <%= event.date %></div>
      <div class="event-description"> <h3> <%=event.theme.name.upcase %></h2>
        <p>chez</p>

          <h2> <%= event.couple.member1_name.upcase %> & <%= event.couple.member2_name.upcase %></h2>
      </div>
      <div class="organiser-picture">
        <%= cl_image_tag event.couple.profile_pict, width: 200, height: 150, crop: :fill %>

      </div>
      <div class="button-container">
        <%=link_to couple_event_swipeleft_path(current_couple, event), method: :post, remote: true do %>
          <div class="swipe-btn couple-swipe-left-btn"> <%= image_tag 'patate_blanche.png',  size: "40" %> </div>
        <% end %>
        <%= link_to couple_event_swiperight_path(current_couple, event), method: :post, remote: true do %>
          <div class="swipe-btn couple-swipe-right-btn"> <%= image_tag 'fraise-blanc-square.png', size: "50" %></div>
        <% end %>
      </div>
    </div>
    <div class="back event-card-back">
      <div class="back-event-title">
      <%=event.theme.name.upcase %>
      </div>
      <div class="back-event-description">
        <em>  "<%= event.description %>" </em>
      </div>
      <div class="back-no-guests">
        Nombre maximum de couples invités: <strong> <%=event.max_n_guest_couples %> </strong>
      </div>
      A propos des organisateurs:
      <div class="organiser-1">
        <%= event.couple.member1_name.capitalize %>: <br><em> "<%= event.couple.about_member1 %>" </em>
      </div>
      <div class="organiser-2">
        <%= event.couple.member2_name.capitalize %>: <br><em> "<%= event.couple.about_member2 %>"  </em>
      </div>
      <div class="link-to-organiser">
        <%= link_to couple_profile_path(event.couple), method: :get do%>
          Voir leur profil détaillé
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="event-card end-card <%= events_for_display.length == 0 ? "active-card" : "hidden" %>" id="current-active-card">
  Plus d'évènements <br> dans votre zone, ramenez <br> votre fraise plus tard, <br> ou organisez votre <br> <%= link_to "propre évènement", new_organiser_event_path %>
  <%= image_tag 'fraise-blanc-square.png', size: "100" %>
</div>

