<% events_for_display.each do |event| %>
  <div class="event-card front <%= events_for_display.first == event ? "active-card" : "hidden" %>" data-id="<%=event.id%>" >
    <div class="event-date"> <em><%= event.date %></em></div>
    <div class="event-description"> <%=event.theme.name %> <br> chez <br> <%= event.couple.member1_name %> et <%= event.couple.member2_name %> </div>
    <div class="organiser-picture"> <%= cl_image_tag(event.couple.couple_picture, size:"170") %> </div>
    <div class="button-container">
      <%=link_to couple_event_swipeleft_path(current_couple, event), method: :post, remote: true do %>
        <div class="swipe-btn swipe-left-btn"> <%= image_tag 'patate_blanche.png',  size: "40" %> </div>
      <% end %>
      <%= link_to couple_event_swiperight_path(current_couple, event), method: :post, remote: true do %>
        <div class="swipe-btn swipe-right-btn"> <%= image_tag 'fraise-blanc.png', size: "40" %></div>
      <% end %>
    </div>
  </div>
<% end %>
