<div class="container-fluid text-align home-background">

  <div class="text-center">
    <%= cl_image_tag("logo_blanc_home_sdk0uq.png") %>
  </div>

  <div class="row text-align pictures">
    <div class="col-xs-12 col-sm-6 ">
    <div class="pictures-flex-right">
      <%= cl_image_tag("tarte_home1_uiw8uv.jpg", :transformation=>[
  {:width=>200, :height=>200, :radius=>"max"}
  ]) %>

    <%= cl_image_tag("tarte_home2_qejuzz.jpg", :transformation=>[
  {:width=>200, :height=>200, :radius=>"max"}
  ])%>
    </div>
  </div>

    <div class="col-xs-12 col-sm-6">
    <div class="pictures-flex-left">
      <%= cl_image_tag("tarte_home3_jtnreu.jpg", :transformation=>[
  {:width=>200, :height=>200, :radius=>"max"}
  ])%>

    <%= cl_image_tag("tarte_home4_lejh8o.jpg", :transformation=>[
  {:width=>200, :height=>200, :radius=>"max"  }
  ])%>
    </div>
   </div>
  </div>

  <div class="text-center">
    <h1 class="punchline"> BOUSCULEZ VOS HABITUDES</h1>
    <%= link_to "FAITES DES RENCONTRES ENTRE COUPLES",new_couple_registration_path, {class: "punchline btn-home"} %>
    <!-- <p class="punchline text-center">INCRIVEZ VOTRE COUPLE</p> -->

  </div>
</div>
