<div class="container-fluid text-align home-background">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="text-center">
        <%= cl_image_tag("logo_blanc_home_sdk0uq.png", :class => "logo-homepage") %>
      </div>
    </div>
  </div>


  <div class="row text-align pictures">
    <div class="col-xs-12 col-sm-6 ">
    <div class="pictures-flex-right">
      <%= cl_image_tag("tarte_home1_uiw8uv.jpg", class: "circle-avatar") %>

    <%= cl_image_tag("tarte_home2_qejuzz.jpg", class: "circle-avatar")%>
    </div>
  </div>

    <div class="col-xs-12 col-sm-6">
    <div class="pictures-flex-left">
      <%= cl_image_tag("tarte_home3_jtnreu.jpg", class: "circle-avatar")%>

    <%= cl_image_tag("tarte_home4_lejh8o.jpg", class: "circle-avatar")%>
    </div>
   </div>
  </div>

  <div class="text-center">
    <h1 class="title-home-punchline"> BOUSCULEZ VOS HABITUDES</h1>
    <br>
    <%= link_to "RENCONTREZ D'AUTRES COUPLES",new_couple_registration_path, {class: "form-submit-btn"} %>
    <!-- <p class="punchline text-center">INCRIVEZ VOTRE COUPLE</p> -->

  </div>
</div>
