<div class="background-form">

  <div class="container-fluid">

    <div id="title-de-retour">
      <h3 class="form-title-h3 title-event-padded">CE SOIR, C'EST LE GRAND SOIR !</h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-group form-inputs form-text">

          <%= simple_form_for([:organiser, @event]) do |f| %>
          <%= label_tag "QUEL THÈME OSEREZ-VOUS CHOISIR ?" %>
            <div class="col-xs-12">
              <% Theme.all.each do |theme| %>
              <div class="col-xs-4">
                <div class="theme-group">
                  <%= radio_button_tag("event[theme_id]", theme.id, checked = false, options = {})%>
                  <%= image_tag theme.image_path, class: "picto"%>
                  <%= label_tag theme.name %>
                </div>
              </div>
              <% end -%>
            </div>
            <%= f.input :max_n_guest_couples, label: "NOMBRE SOUHAITÉ DE COUPLES PARTICIPANTS ?", placeholder: 'Quel est le maximum :) ?', input_html: {:class => "form-inputs-background"} %>
            <%= f.input :description, :as => :text, label: "QUELQUES DÉTAILS SUR VOTRE FRAISE PARTIE !", placeholder: 'Récemment débarqués dans le coin, on se disait qu\'il serait de faire connaissance avec d\'autres couples autour d\'un petit brunch dimanche matin sur les bords de Loire. Avec 2 à 3 couples, chacun ramène quelque chose à manger et pourquoi ne pas passer l\'après-midi ensemble après si l\'envie nous prend !', input_html: {:class => "form-inputs-background"} %>
            <%= f.input :city, label: "OÙ AURA LIEU L'ÉVÉNEMENT ?", placeholder: 'Nantes', input_html: {:class => "form-inputs-background"} %>
            <%= f.input :date, label: "C'EST PRÉVU POUR BIENTÔT ?", input_html: {:class => "form-inputs-background input-unmarged"} %>
            <%= submit_tag("C'EST PARTI !", class: "form-submit-btn btn-unmarged") %>
          <% end %>

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $("#random_button").click(function(event) {
      event.preventDefault();
      $("#event_theme_id").val(randomValueFromSelect("#event_theme_id"));
    });

    var executed = false;
    $('.form-submit-btn').hover(function(event) {
        if (executed == false) {
        swal({
          title: "Allez-y, c'est permis !",
          text: "En créant cet événement, vous pouvez gagner 5 fraises supplémentaires",
          imageUrl: "<%= asset_path("plus5fraises.png")%>",
          imageSize: "200x120",
          confirmButtonText: "Compris !",
          confirmButtonColor: "#F80C54",
        });
        executed = true;
      }
    });

  </script>
<% end %>


