<div class="background-form">

  <div class="container-fluid">

    <div id="title-de-retour">
      <h3 class="form-title-h3">PROPOSEZ UN ÉVÉNEMENT</h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <br>
      <div class="form-group form-inputs form-text">
          <%= simple_form_for([:organiser, @event]) do |f| %>
            <%= f.association :theme , label: "QUEL THÈME OSEREZ-VOUS CHOISIR ?", include_blank: false, input_html: {:class => "form-inputs-background"} %>
            <%= f.input :max_n_guest_couples, label: "NOMBRE SOUHAITÉ DE COUPLES PARTICIPANTS ?", input_html: {:class => "form-inputs-background"} %>
            <%= f.input :description, :as => :text, label: "DÉTAILS DE VOTRE FRAISE PARTIE", input_html: {:class => "form-inputs-background"} %>
            <%= f.input :city, label: "OÙ AURA LIEU L'ÉVÉNEMENT ?", input_html: {:class => "form-inputs-background"} %>
            <%= f.input :date, label: "C'EST PRÉVU POUR BIENTÔT ?", input_html: {:class => "form-inputs-background"} %>
            <%= submit_tag("C'EST PARTI !", class: "btn-marged form-submit-btn") %>
          <% end %>

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $("#random_button").click(function(event) {
      event.preventDefault();
      $("#event_theme_id").val(randomValueFromSelect("#event_theme_id"));
    });
  <% end %>
<% end %>


