<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tarte aux Fraises: rencontrez des couples dans votre région</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <link href='https://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
    <meta name="description" content="La Tarte aux Fraises permet aux couples de faire des rencontres autour d'événements organisés dans leur région par d'autres couples">
    <%= render 'favicon' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>


      <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>


    <%= cloudinary_js_config %>



  </body>
</html>
